ul {
    padding-top: 10px;
    background-color: #FFFFFF;
}

.titulo{
    padding-right: 800px;
    font-size: 25px;
}

a img {
    width: 25px;
    height: 25px;
}

ul li {
    padding-right: 40px;
}

ul li img {
    width: 35px;
    height: 35px;
}

.nav-ponto{
    text-align: center;
}

.ponto.ativo{
    background-color: #4CAF4F;
}
.ponto{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #C8E6C9;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.btn.btn-primary{
    background-color: #4CAF4F;
    padding: 9px 2rem;
}

.card.mb-3{
    background-color: #F5F7FA;
}